{% extends "layout.html" %}
{% block title %} {{name}} {% endblock %}
{% block main%}
  <h1><a href="{{url_for('wiki.wiki')}}{{name}}">{{name}}</a> </h1>
{% filter markdown %} {{wiki.text}} {% endfilter %}
<form action="{{url_for('wiki.wiki')}}{{name}}" method=get>
{{form.action(value="edit")}} 
<input type=submit value="Edit this page">
</form>
<form action="{{url_for('wiki.wiki')}}{{name}}" method=get>
{{form.action(value="attach")}} 
<input type=submit value="Attach">
</form>
{% endblock %}
