{% block logo %}
<div id="logo-wapper"> 
  <div class="logo-icon"> 
    <p><img src="{{ url_for('.static', filename='image/bar/icon1.jpg') }}" alt="Free delivery"/></p>
    <h2> DELIVERY </h2>
  </div>
  <div class="logo-icon"> 
    <p><img src="{{ url_for('.static', filename='image/bar/icon2.jpg') }}" /></p>
    <h2> GIFT WARP </h2>
  </div>
  <div class="logo-icon"> 
    <p><img src="{{ url_for('.static', filename='image/bar/icon3.jpg') }}" /></p> 
    <h2> PORTIONS </h2>
  </div>
</div>
{% endblock %}
