{% extends theme("layout.html") %}
{% block title %} Home {% endblock %}
{% block main%}
<h2> Welcome to ims -- inventory management system</h2>
<p>
    A IMS build with technolegies Flask, SQLite3, jQuery. 
</p>
<p>
    Currently, it have functions like above links , as well as:
    <ul> 
        <li> Feed: 
        <ul>
	        <li>
	        	<a href="{{ url_for('feed.wiki') }}" > <img src="{{ url_for(".silkicon", filename="feed.png")}}">  Generator </a>
	        </li>
	        <li>
	        	<a href="{{ url_for('feed.reader') }}" > <img src="{{ url_for(".silkicon", filename="feed_go.png")}}"> Reader </a>
	        </li>
        </ul>
       </li>
        <li> Test: 
        <ul>
        <li><a href="{{ url_for('test.jquery1') }}" > jQuery1 </a> </li>
        <li><a href="{{ url_for('test.jquery2') }}" > jQuery2 </a></li>
        <li><a href="{{ url_for('test.json') }}" > json </a></li>
        <li><a href="{{ url_for('test.test') }}" > test </a></li>
        </ul>
       </li>
    </ul>
	<div>
	<p><a href="/wiki/todo" > Todo List </a></p>
	
	</div>

</p>
{% endblock %}
<body>
