{% extends "layout.html" %}
{% block title %} Administration {% endblock %}
{% block main%}
  <h2>Administration</h2>
  <div id=admin-left>
  {% block left%}
  <ul>
    <li> Database
        <ul>
            <li><a href="{{ url_for('admin.initdb')}}">Create database</a></br>
            <li><a href="{{ url_for('admin.dropdb')}}">Drop database</a></br>
        </ul>
    <li> User
        <ul>
            <li><a href="{{ url_for('admin.listuser')}}">List User</a></br>
            <li><a href="{{ url_for('admin.adduser')}}">Add User</a></br>
            <li><a href="{{ url_for('admin.deluser')}}">Del User</a></br>
        </ul>
    <li> Todo
        <ul>
            <li><a href="{{ url_for('admin.listtodo')}}">List Todo</a></br>
            <li><a href="{{ url_for('admin.addtodo')}}">Add Todo</a></br>
            <li><a href="{{ url_for('admin.deltodo')}}">Del Todo</a></br>
        </ul>
  </ul>
  {% endblock %}
   </div>
   <div id=admin-right>
  {% block right %}
  {% endblock %}
   </div>
{% endblock %}
