{% extends theme("layout.html") %}
{% block title %} Administration {% endblock %}
{% block main%}
  <h2>管理：</h2>
  <div id=admin-left>
  {% block left%}
  <ul>
    <li><a href="{{ url_for('admin.database')}}"> 数据库 </a> </li>
    <li><a href="{{ url_for('admin.users')}}"> 用户管理 </a> </li>
    <li><a href="{{ url_for('admin.todos')}}"> TODO管理 </a> </li>
    <li><a href="{{ url_for('admin.themes')}}"> 设置外观 </a> </li>
  </ul>
  {% endblock %}
   </div>
   <div id=admin-right>
  {% block right %}
  {% endblock %}
   </div>
{% endblock %}
