{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block main%}
<h2> Welcome to ims -- inventory management system</h2>
<p>
    A IMS build with technolegies Flask, SQLite3, jQuery. 
</p>
<p>
    Currently, it have :
    <ul> 
        <li><a href="{{ url_for('admin.index') }}" > Admin </a>
        <li><a href="{{ url_for('todo.index') }}" > Todo </a>
        <li><a href="{{ url_for('photo.index') }}" > Photo </a>
        <li><a href="{{ url_for('.jquery1') }}" > jQuery1 </a> | <a href="{{ url_for('.jquery2') }}" > jQuery2 </a>
    </ul>
</p>
{% endblock %}
<body>
