<!doctype html>
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/base.css') }}"/>
    <script type=text/javascript src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.js"></script>
    <!--
    <script type=text/javascript src="{{ url_for('static', filename='js/ims.js') }}"></script>
    -->
<title>Flask IMS | {% block title%} {%endblock%}</title>
{% endblock %}
<body>
	<div of="flash">
	  {% for message in get_flashed_messages() %}
		<div class="message">{{ message }} </div>
	  {% endfor %}
	</div>

	{% block header %}
		{% include "nav.html"%}
		{% include "header.html"%}
	{% endblock %}

	{% block main %}

	{% endblock %}

	{% block footer %}
		{% include "footer.html"%}
	{% endblock %}

</body>
