{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block main%}
<h1> Login </h1>
<div class="error">
    {% if form.errors %}
        {% for error in form.errors %}
             Input Error: {{error}} </br>
        {% endfor %}
    {% endif %}
</div>

<form action="" method=post>
    <dl> 
      <dt>{{ form.username.label }}:
      <dt> {{ form.username }}
      <dt>{{ form.password.label }}
      <dt> {{ form.password }}
      <dt> <input type=checkbox name=remember value=0> <small>Remember Me</small>
      <dt> {{ form.submit }}
    </dl>
</form>
{% endblock %}
