{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block main %}
<h2>Sign Up</h2>

<div class="error">
    {% if form.errors %}
        {% for error in form.errors %}
             Input Error: {{error}} </br>
        {% endfor %}
    {% endif %}
</div>
    
<form action="" method=post>
    <dl>
        <dt> {{ form.username.label }} :
        <dt> {{ form.username }}
        <dt> {{ form.email.label }} :
        <dt> {{ form.email }}
        <dt> {{ form.password.label }} :
        <dt> {{ form.password }}
        <dt> {{ form.password2.label }} :
        <dt> {{ form.password2 }}
    </dl>
    <div class=actions> {{ form.submit }} </div>
</form>
{% endblock %}
