{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block header %} {% endblock %}
{% block main %}
{% if request.method != 'POST' %}
  <h2>Sign Up</h2>
  <form action="" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username size=30">
      <dt>E-Mail:
      <dd><input type=text name=email size=30>
      <dt>Password:
      <dd><input type=password name=password size=30>
      <dt>Password <small>(repeat)</small>:
      <dd><input type=password name=password2 size=30>
    </dl>
    <div class=actions><input type=submit value="Register"></div>
  </form>
{% else %}
    <p>
    Congratulations, you were successfully registered and can login now. <a href="{{url_for('login.login')}}">Sign in</a>
    </p>
{% endif %}
{% endblock %}
