{% extends theme("layout.html") %}
{% block title %} 系统登录 {% endblock %}
{% block main%}
<div class="error">
    {% if form.errors %}
        {% for error in form.errors %}
             Input Error: {{error}} </br>
        {% endfor %}
    {% endif %}
</div>

<div class="login">
    <div class="header">
        <div class="toptitle">仓库管理系统</div>
    </div>
    <div style="padding:30px 0;">
    <form action="" method=post>
        <div style="padding-left:50px">
        <dl> 
          <dt>{{ form.username.label }} {{ form.username }}</dt>
          <dt>{{ form.password.label }} {{ form.password }}</dt>
          <dt> <input type=checkbox name=remember value=0> <small>记住我</small> {{ form.submit }}</dt>
        </dl>
        </div>
    </form>
    </div>
</div>
{% endblock %}
