body{
	margin: 0 auto;
	padding:0;
	font-size:12px;
	font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	color:#333;
	background:#fff;
	width: 960px;
}

a {
	color: #389200;
	text-decoration: none; 
}

.todo {
}

#header {
	background-attachment:initial;
	background-clip:initial;
	background-color:initial;
	background-origin:initial;
	background-repeat:repeat no-repeat;
}

#logo {
	background-attachment:initial;
	background-clip:initial;
	background-color:initial;
	background-origin:initial;
	background-repeat:no-repeat no-repeat;
	display:block;
	text-indent:-9999px;
	width:768px;
}

#metanav {
	list-style: none;
	text-align: right;
	font-size: 1em;
	padding: 0.3px;
	margin-bottom: 0.3px
}

#nav
{
	float: left;
	width: 960px;
	background: #ADD8E6;
}

#nav ul
{
	margin: 0;
	padding: 0;
}

#nav ul li
{
	list-style-type: none;
	display: inline;
}

#nav li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#nav li a:hover { background: #A0BBC4; }

#messages {
	height: 40px;
}

.message {
	font-family: "Courier New", Arial;
	background: #64CF4B;
	font-size:10px;
}

.error {
	font-family: "Courier New", Arial;
	background: #E51629;
	font-size:10px;
}


#wikitext {
	height:500px;
	width:960px;
	position: static;
	left: -9999px; 
	top: -9999px;
}

#left{
        width:166px;
        margin-right:5px;
        float:left;
 	text-align:left; 
 	clear:left; 
 	overflow:hidden; 
        border-right:1px solid #c9d7f1;
	clear:left;
}

#right{
	clear:right;
}

#footer {
	clear:both;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	background: #ADD8E6;
}
