body {
    font-family: arial, serif;
    font-size: 12px;
}

h1, h2, h3 {
    color: #121;
}

a {
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

#wapper {
    width:960px;
    margin: 0 auto;
    padding: 0;
}

#header {
    width: 100%; 
    border-color: #121;
    border-style: solid;
    border-width: 0 0 1px 0;
    clear: both;
}


#logo {
}

#logo-wapper {
    background-image:url(../image/bar/bar-bg.png);
    background-position:50% 0;
    float:left;
    height:252px;
    padding-bottom:20px;
    padding-left:0;
    padding-right:0;
    padding-top:20px;
    margin: 10px 0 10px 0;
    width:100%;
}

.logo-icon {
    float: left;
    width: 300px;
    margin-left: 20px;
    text-align: center;
    color:#947057;
    font-family:arial, sans-serif;
    font-size:2.6em;
    text-transform:uppercase;
}

.logo-icon img {
    margin-left: 20px;
}


#metanav {
    text-align: right;
    padding: 1px;
    margin-bottom: 1px
}

#nav {
    overflow:hidden;
}

#nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#nav li a {
    display: block;
    float: left;
    padding: 3px 15px;
    text-decoration: none;
    border-right: 1px solid #000;
}

#nav li a:hover { 
    background: #A0BBC4;
}

#messages {
    height: 40px;
}

.message {
    font-family: "Courier New", Arial;
    background: #64CF4B;
    font-size: 10px;
}

.error {
    font-family: "Courier New", Arial;
    background: #E51629;
    font-size: 10px;
}

#main {
    clear: both;
}

#wikitext {
    height:400px;
    width:960px;
    position: static;
}

#admin-left{
    width:166px;
    margin-right:5px;
    float:left;
    text-align:left; 
    clear:left; 
    overflow:hidden; 
    border-right:1px solid #c9d7f1;
    clear:left;
}

#admin-left ul{
    list-style-type:none;
    display:block;
    padding: 0;
    margin: 0;
}

#admin-right{
    clear:right;
}

#tool {
    height: 20px;
    font-size: 10px;
    text-align: center;
    width:960px;
    position: absolute;
    bottom: 36px;
}

#tool ul {
    margin: 0;
    padding: 0;
}

#tool ul li {
    display: inline;
    list-style-type: none;
}

#footer {
    border-top: 1px solid #000;
    height: 35px;
    width:960px;
    position: absolute;
    bottom: 0px;
}

#footer p {
    font-size: 0.85em;
    line-height: 15px;
    margin: 10px 20px;
}

#badge {
    float: right;
}

#footer p a {
    color: #333333;
}

#footer a:hover {
    color: #FFE114;
}


/* main.css */
*{
    font-size:12px;
}


#loading-mask{
    position:absolute;
    background:#F2FBFF;
    visibility:visible;
    display:block;
    width:100%;
    height:100%;
    filter:alpha(opacity=80);
    opacity:0.80;
    z-index:999999999;
}
#loading-msg{
    width:150px;
    margin:10px auto;
    padding:5px 10px;
    text-align:center;
    font-weight:bold;
    font-size:14px;
    color:#fff;
    background:#aaa;
}
.easyui-menu{
    display:none;
}
form{
    margin:0;
    padding:0;
}
.login{
    background:url('../image/login_01.gif') no-repeat;
}
.mainwrap{
    width:960px;
    width1:100%;
    height:100%;
    margin:0 auto;
    background:#fff;
}
.header{
    background:url('../image/topback.gif') repeat-x;
    background1:#A1C4E4;
    position:relative;
    height:60px;
    width:100%;
    padding-left1:5px;
}
.topmenu{
    background:#eee url('../image/btn.jpg') repeat-x;
    padding:2px 5px;
}
.toptitle{
    position:absolute;
    top:15px;
    left:5px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    padding:5px;
}

.subtitle{
    font-size:14px;
    font-weight:bold;
    color:#666;
    padding:10px 5px;
}
.toolbar{
    padding:4px 5px;
    background:#efefef;
    border-bottom:1px solid #92B7D0;
}
.toolbar a.l-btn{
    background:url('../image/btn.jpg') repeat-x;
    border:1px solid #ccc;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
}
.toolbar a.l-btn:hover{
    background:#fafafa;
}
.submenu{
}
.submenu a{
    display:block;
    line-height:150%;
    padding:3px 15px;
    text-decoration:none;
    color:#666;
    margin-bottom1:5px;
    background:url('../image/bullet_blue.png') no-repeat 0 center;
}
.submenu a:hover{
    background-color:#ffffcc;
}
.form-table tr{
    height:25px;
}
.icon-find{
    background:url('../image/find.png') no-repeat;
}
.icon-check{
    background:url('../image/check.png') no-repeat;
}
.icon-open{
    background:url('../image/open.png') no-repeat;
}
.icon-saves{
    background:url('../image/filesaveas.png') no-repeat;
}
